# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/

# Env / secrets
.env
.env.local

# Allure
allure-results/
allure-report/

# OS
.DS_Store
